# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/SimpleMail/_ReSharper.SimpleMail
__pycache__
/AcumaticaErp/_ReSharper.AcumaticaErp
/AcumaticaErp/AcumaticaErp.v11.suo
