<style>
    #dc-common-progress-bar {
        z-index: 900;
        position: absolute;
        right: 50%;
        top: 50%;
        display: none;
    }
</style>

<div id="dc-common-progress-bar">
    <img src="~/Content/Default/loading-image.gif" alt="loading..."/>
</div>