<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="system.web" type="System.Web.Configuration.SystemWebSectionGroup, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="pxaccess" type="PX.Data.PXAccessSection, PX.Data" />
      <section name="pxdatabase" type="PX.Data.PXDatabaseSection, PX.Data" />
      <section name="pxtrace" type="PX.Data.PXTraceSection, PX.Data" />
      <section name="pxtranslate" type="PX.Data.PXTranslationSection, PX.Data" />
      <section name="basicAuth" type="PX.Export.Authentication.BasicAuthenticationSection, PX.Export" />
      <section name="formsAuth" type="PX.Export.Authentication.FormsAuthenticationSection, PX.Export" />
      <section name="multiAuth" type="PX.Export.Authentication.AuthenticationManagerSection, PX.Export" />
      <section name="webDAV" type="PX.Export.WebDAV.WebDAVSection, PX.Export" />
      <section name="activeDirectory" type="PX.Data.Access.ActiveDirectorySection, PX.Data" />
      <section name="attachments" type="PX.Data.EP.DynamicAttachmentSection, PX.Data" />
      <section name="fullTrustAssemblies" type="System.Web.Configuration.FullTrustAssembliesSection, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" allowDefinition="MachineToApplication" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="ProjectX" />
    <add name="ProjectX" providerName="System.Data.SqlClient" connectionString="Data Source=MATVEEVP\PMATVEEV;Initial Catalog=AcumaticaDB;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="4.20.0692" />
    <add key="DefaultWikiCSS" value="App_Themes\Wiki.css" />
    <add key="ReminderVisible" value="false" />
    <add key="ReminderRequestPeriod" value="60" />
    <add key="ReminderActiveMode" value="false" />
    <add key="aspnet:IgnoreFormActionAttribute" value="true" />
    <add key="FilesPath" value="~/Files" />
    <add key="AutoUpdate" value="True" />
    <add key="ChartImageHandler" value="Storage=session;Timeout=20;" />
    <add key="EnableFirstChanceExceptionsLogging" value="false" />
    <add key="FirstChanceExceptionsLogFileName" value="firstchanceexceptions.log" />
    <add key="AutoRenewal" value="False" />
    <add key="CustomizationTempFilesPath" value="C:\Program Files (x86)\Acumatica ERP\Customization\" />
    <add key="SnapshotsFolder" value="C:\Program Files (x86)\Acumatica ERP\Snapshots\AcumaticaERP" />
    <add key="BackupFolder" value="C:\Program Files (x86)\Acumatica ERP\BackUp\Sites\" />
  </appSettings>
  <location inheritInChildApplications="false">
    <system.web>
      <machineKey validationKey="39588B3BDBA66FE09A872FB08AAA966C9BB2463AE7E64F4C18601C3BDB1593393DC4ECC9CC249CEE0A8DFD30101D7011D09F7CA8CC45E18EDAC26664ACD7071C" decryptionKey="2F95FC5CD3AB77F517602EB34C1605DEE6CE25BBC7510C3C" validation="SHA1" />
      <securityPolicy>
        <trustLevel name="ProjectX" policyFile="web_project_x.config" />
      </securityPolicy>
      <trust level="Full" originUrl="" />
      <fullTrustAssemblies />
      <pxdatabase defaultProvider="PXSqlDatabaseProvider">
        <providers>
          <remove name="PXSqlDatabaseProvider" />
          <add name="PXSqlDatabaseProvider" type="PX.Data.PXSqlDatabaseProvider, PX.Data" connectionStringName="ProjectX" companyID="" secureCompanyID="False" />
        </providers>
      </pxdatabase>
      <pxaccess defaultProvider="PXDatabaseAccessProvider">
        <providers>
          <remove name="PXDatabaseAccessProvider" />
          <add name="PXDatabaseAccessProvider" type="PX.Data.PXDBFeatureAccessProvider, PX.Data" applicationName="/" administratorRole="Administrator" />
        </providers>
      </pxaccess>
      <pxtrace defaultProvider="PXSessionTraceProvider">
        <providers>
          <remove name="PXSessionTraceProvider" />
          <add name="PXSessionTraceProvider" type="PX.Data.PXSessionTraceProvider, PX.Data" url="../Frames/Trace.aspx" />
          <!--<add name="PXFileTraceProvider" type="PX.Data.PXSessionTraceProvider, PX.Data" />-->
        </providers>
      </pxtrace>
      <pxtranslate defaultProvider="PXDBTranslatonProvider">
        <providers>
          <remove name="PXDBTranslatonProvider" />
          <add name="PXDBTranslatonProvider" type="PX.Data.PXDBTranslatonProvider, PX.Data" />
        </providers>
      </pxtranslate>
      <activeDirectory enabled="false" path="" user="" password="" />
      <roleManager enabled="true" defaultProvider="PXActiveDirectorySyncRoleProvider" cacheRolesInCookie="false">
        <providers>
          <remove name="PXActiveDirectorySyncRoleProvider" />
          <remove name="MySQLRoleProvider" />
          <add applicationName="/" name="PXActiveDirectorySyncRoleProvider" type="PX.Data.PXActiveDirectorySyncRoleProvider" mainProviderType="PX.Data.PXDatabaseRoleProvider" />
        </providers>
      </roleManager>
      <membership defaultProvider="PXActiveDirectorySyncMembershipProvider">
        <providers>
          <remove name="PXActiveDirectorySyncMembershipProvider" />
          <remove name="MySQLMembershipProvider" />
          <add name="PXActiveDirectorySyncMembershipProvider" type="PX.Data.PXActiveDirectorySyncMembershipProvider, PX.Data" mainProviderType="PX.Data.PXDatabaseMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        </providers>
      </membership>
      <siteMap enabled="true" defaultProvider="PXDatabaseSiteMapProvider">
        <providers>
          <remove name="PXWikiProvider" />
          <remove name="PXDatabaseSiteMapProvider" />
          <remove name="PXOuterSiteMapProvider" />
          <add name="PXDatabaseSiteMapProvider" type="PX.Data.PXDatabaseSiteMapProvider, PX.Data" securityTrimmingEnabled="true" table="PX.SM.SiteMap" />
          <add name="PXWikiProvider" type="PX.Data.PXWikiProvider, PX.Data" securityTrimmingEnabled="true" />
        </providers>
      </siteMap>
      <webDAV>
        <locations>
          <add path="/" requireSSL="false" />
          <add path="/Files" requireSSL="true" />
        </locations>
      </webDAV>
      <globalization culture="en-US" uiCulture="en-US" />
      <!--<authentication mode="Forms">
      <forms loginUrl="./Frames/Login.aspx" />
    </authentication>-->
      <formsAuth loginUrl="Frames/Login.aspx" timeout="60" />
      <multiAuth>
        <locations>
          <clear />
          <add path="/">
            <providers>
              <add name="forms" type="PX.Export.Authentication.BrowserAuthenticationModule, PX.Export" />
              <add name="basic" type="PX.SM.PXBasicAuthenticationModule, PX.Data" />
            </providers>
          </add>
          <add path="/Files">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="basic" type="PX.SM.PXBasicAuthenticationModule, PX.Data" />
            </providers>
          </add>
          <add path="/Api">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/rest/">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Soap">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Export">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="basic" type="PX.SM.PXBasicAuthenticationWithoutCompanyModule, PX.Data" />
            </providers>
          </add>
          <add path="/calendarSync.ics">
            <providers>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Images">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/App_Themes">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Icons">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/App_Themes/GetCSS.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Frames/PasswordRemind.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Frames/LoginRemind.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Frames/Error.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Frames/Maintenance.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export" />
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
          <add path="/Handlers">
            <providers>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export" />
            </providers>
          </add>
        </locations>
      </multiAuth>
      <authentication mode="None" />
      <basicAuth>
        <locations>
          <add path="/Files" requireSSL="true" realm="files_realm" />
        </locations>
      </basicAuth>
      <authorization>
        <!--<allow roles="Administrator"/>-->
        <deny users="?" />
      </authorization>
      <trace enabled="false" localOnly="true" traceMode="SortByCategory" pageOutput="false" />
      <sessionState cookieless="UseCookies" mode="Custom" customProvider="PXSessionStateStore" timeout="60">
        <providers>
          <remove name="PXSessionStateStore" />
          <add name="PXSessionStateStore" type="PX.Data.PXSessionStateStore, PX.Data" ignoreUrl="~/Frames/Menu.aspx,~/Frames/GetFile.ashx" />
        </providers>
      </sessionState>
      <customErrors mode="Off" />
      <webParts>
        <personalization>
          <authorization>
            <allow verbs="enterSharedScope" users="admin" />
          </authorization>
        </personalization>
      </webParts>
      <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="px" assembly="PX.Web.UI" namespace="PX.Web.UI" />
          <add tagPrefix="pxa" assembly="PX.Web.Controls" namespace="PX.Web.Controls" />
          <add tagPrefix="px_tehc" tagName="PXTasksAndEventsNavPanelHostControl" src="~/Controls/PXTasksAndEventsNavPanelHostControl.ascx" />
          <add tagPrefix="px_pt" tagName="PageTitle" src="~/Controls/PageTitle.ascx" />
          <add tagPrefix="px_pf" tagName="PageFooter" src="~/Controls/PageFooter.ascx" />
          <add tagPrefix="px_log" tagName="Login" src="~/Controls/Login.ascx" />
          <add tagPrefix="px_srch" tagName="Search" src="~/Controls/Search.ascx" />
          <add tagPrefix="px_srchsp" tagName="SearchSP" src="~/Controls/SearchSP.ascx" />
          <add tagPrefix="px_pswd" tagName="PasswordRemind" src="~/Controls/PasswordRemind.ascx" />
          <add tagPrefix="px_logrecov" tagName="LoginRemind" src="~/Controls/LoginRemind.ascx" />
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
      </pages>
      <webServices>
        <soapExtensionTypes>
          <add type="ScreenApi.TransformClassExtension, PX.Data" priority="1" group="0" />
        </soapExtensionTypes>
        <wsdlHelpGenerator href="Frames/WsdlHelp.aspx" />
      </webServices>
      <httpModules>
        <add name="AuthManagerModule" type="PX.Export.Authentication.AuthenticationManagerModule, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
      </httpModules>
      <httpHandlers>
        <remove verb="*" path="sitemap.xml" />
        <remove verb="*" path="robots.txt" />
        <remove verb="*" path="GetRSS.ashx" />
        <remove verb="GET,HEAD,POST,TRACE,OPTIONS,PUT" path="Files" />
        <add verb="GET,HEAD,POST,TRACE,OPTIONS,PROPFIND,PUT,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" path="Files" type="PX.SM.PXFileWebDAVHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <remove verb="OPTIONS,PROPFIND" path="*" />
        <add verb="OPTIONS,PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" path="*" type="PX.SM.PXServerWebDAVHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="ExcelQuery.axd" type="PX.Web.UI.PXDefaultExcelQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="ExportExcel.axd" type="PX.Web.UI.PXExportHandlerExcel, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="ExportXlsx.axd" type="PX.Web.UI.PXGridExportXlsxHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="ExportIqy.axd" type="PX.Web.UI.PXGridExportIqyHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="ExportDita.axd" type="PX.Web.UI.PXExportHandlerDita, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="calendarSync.ics" type="PX.Objects.EP.PXCalendarSyncHandler, PX.Objects, Version=1.*, Culture=neutral, PublicKeyToken=null" />
        <add verb="GET" path="*ExportICS.axd" type="PX.Export.PXExportHandlerIcs, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="*.vcf" type="PX.Export.PXExportHandlerVcf, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Reminder.axd" type="PX.Objects.EP.PXReminderSyncHandler, PX.Objects, Version=1.*, Culture=neutral, PublicKeyToken=null" />
        <add verb="*" path="GenInqIqy.axd" type="PX.Export.PXExportHandlerIqy, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="GenInqExcelQuery.axd" type="PX.Web.UI.PXGenInqExcelWebQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="GenInqExcelFile.axd" type="PX.Web.UI.PXGenInqExcelFileHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Api/Interface.asmx" type="PX.Api.ApiServiceFactoryRedirect, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Soap/*.asmx" type="PX.Api.Soap.HandlerFactory, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="PX.ReportViewer.axd" type="PX.Reports.Web.HttpHandler, PX.Reports, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="PX.ScriptBatch.axd" type="PX.Web.UI.PXScriptLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET" path="QR.axd" type="PX.Web.UI.AssemblyResourceLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" validate="true" />
        <add verb="*" path="Frames/GetStream.ashx" type="PX.Data.Handlers.StreamGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Frames/GetFile.ashx" type="PX.Data.Handlers.FileGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="App_Themes/GetCSS.aspx" type="PX.Data.Handlers.CSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Frames/GetRSS.ashx" type="PX.Data.Handlers.RSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="*" path="Frames/CheckFileSize.ashx" type="PX.Data.Handlers.FileSizeChecker, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
        <add verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
        <add verb="*" path="PageUnload.axd" type="PX.Data.Handlers.PageUnloadHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
      </httpHandlers>
      <httpRuntime executionTimeout="300" requestValidationMode="2.0" maxRequestLength="1048576" />
      <attachments>
        <handlers>
          <add type="report" handler="PX.Data.Reports.ReportHandler" />
        </handlers>
      </attachments>
      <identity impersonate="True" />
    </system.web>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v4.0" />
          <providerOption name="WarnAsError" value="false" />
        </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v4.0" />
          <providerOption name="OptionInfer" value="true" />
          <providerOption name="WarnAsError" value="false" />
        </compiler>
      </compilers>
    </system.codedom>
  </location>
  <system.web>
    <compilation debug="True" defaultLanguage="c#" numRecompilesBeforeAppRestart="9999" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="Caches" />
        <!--<add directoryName="Graphs" />-->
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <!--add extension=".api" type="PX.Api.ApiBuildProvider, PX.Objects"/-->
        <add extension=".name" type="PX.Web.UI.PXCodeNameProvider, PX.Web.UI" />
      </buildProviders>
    </compilation>
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/GetCSS.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Api">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Soap">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Export">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Files">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Frames/PasswordRemind.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Frames/LoginRemind.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Frames/Error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Frames/Maintenance.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="calendarSync.ics">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Handlers">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <remove verb="PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" />
          <add allowed="true" verb="PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" />
        </verbs>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="70.00:00:00" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="Main.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="PageUnloadHandler" />
      <remove name="ChartHttpHandler" />
      <remove name="FileSizeChecker" />
      <remove name="RSSGetter" />
      <remove name="CSSGetter" />
      <remove name="FileGetter" />
      <remove name="StreamGetter" />
      <remove name="AssemblyResourceLoader" />
      <remove name="PXScriptLoader" />
      <remove name="HttpHandler" />
      <remove name="HandlerFactory" />
      <remove name="ApiServiceFactoryRedirect" />
      <remove name="PXGenInqExcelFileHandler" />
      <remove name="PXGenInqExcelWebQueryHandler" />
      <remove name="PXExportHandlerIqy" />
      <remove name="PXReminderSyncHandler" />
      <remove name="PXExportHandlerVcf" />
      <remove name="PXExportHandlerIcs" />
      <remove name="PXCalendarSyncHandler" />
      <remove name="PXExportHandlerDita" />
      <remove name="PXGridExportIqyHandler" />
      <remove name="PXGridExportXlsxHandler" />
      <remove name="PXExportHandlerExcel" />
      <remove name="PXDefaultExcelQueryHandler" />
      <remove name="PXServerWebDAVHandler" />
      <remove name="PXFileWebDAVHandler" />
      <add name="PXFileWebDAVHandler" path="Files" verb="GET,HEAD,POST,TRACE,OPTIONS,PROPFIND,PUT,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" type="PX.SM.PXFileWebDAVHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXServerWebDAVHandler" path="*" verb="OPTIONS,PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT" type="PX.SM.PXServerWebDAVHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXDefaultExcelQueryHandler" path="ExcelQuery.axd" verb="*" type="PX.Web.UI.PXDefaultExcelQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXExportHandlerExcel" path="ExportExcel.axd" verb="GET" type="PX.Web.UI.PXExportHandlerExcel, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXGridExportXlsxHandler" path="ExportXlsx.axd" verb="GET" type="PX.Web.UI.PXGridExportXlsxHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXGridExportIqyHandler" path="ExportIqy.axd" verb="GET" type="PX.Web.UI.PXGridExportIqyHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXExportHandlerDita" path="ExportDita.axd" verb="GET" type="PX.Web.UI.PXExportHandlerDita, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXCalendarSyncHandler" path="calendarSync.ics" verb="*" type="PX.Objects.EP.PXCalendarSyncHandler, PX.Objects, Version=1.*, Culture=neutral, PublicKeyToken=null" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXExportHandlerIcs" path="*ExportICS.axd" verb="GET" type="PX.Export.PXExportHandlerIcs, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXExportHandlerVcf" path="*.vcf" verb="GET" type="PX.Export.PXExportHandlerVcf, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXReminderSyncHandler" path="Reminder.axd" verb="*" type="PX.Objects.EP.PXReminderSyncHandler, PX.Objects, Version=1.*, Culture=neutral, PublicKeyToken=null" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXExportHandlerIqy" path="GenInqIqy.axd" verb="*" type="PX.Export.PXExportHandlerIqy, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXGenInqExcelWebQueryHandler" path="GenInqExcelQuery.axd" verb="*" type="PX.Web.UI.PXGenInqExcelWebQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXGenInqExcelFileHandler" path="GenInqExcelFile.axd" verb="*" type="PX.Web.UI.PXGenInqExcelFileHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="ApiServiceFactoryRedirect" path="Api/Interface.asmx" verb="*" type="PX.Api.ApiServiceFactoryRedirect, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="HandlerFactory" path="Soap/*.asmx" verb="*" type="PX.Api.Soap.HandlerFactory, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="HttpHandler" path="PX.ReportViewer.axd" verb="*" type="PX.Reports.Web.HttpHandler, PX.Reports, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PXScriptLoader" path="PX.ScriptBatch.axd" verb="*" type="PX.Web.UI.PXScriptLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="AssemblyResourceLoader" path="QR.axd" verb="GET" type="PX.Web.UI.AssemblyResourceLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="StreamGetter" path="Frames/GetStream.ashx" verb="*" type="PX.Data.Handlers.StreamGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="FileGetter" path="Frames/GetFile.ashx" verb="*" type="PX.Data.Handlers.FileGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="CSSGetter" path="App_Themes/GetCSS.aspx" verb="*" type="PX.Data.Handlers.CSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="RSSGetter" path="Frames/GetRSS.ashx" verb="*" type="PX.Data.Handlers.RSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="FileSizeChecker" path="Frames/CheckFileSize.ashx" verb="*" type="PX.Data.Handlers.FileSizeChecker, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="ChartHttpHandler" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="PageUnloadHandler" path="PageUnload.axd" verb="*" type="PX.Data.Handlers.PageUnloadHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
    </handlers>
    <modules>
      <remove name="AuthManagerModule" />
      <add name="AuthManagerModule" type="PX.Export.Authentication.AuthenticationManagerModule, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e" />
      <remove name="WebDAVModule" />
    </modules>
  <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
             <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="9" />
             <dynamicTypes>
                 <add mimeType="text/*" enabled="true" />
                 <add mimeType="message/*" enabled="true" />
                 <add mimeType="application/x-javascript" enabled="true" />
                 <add mimeType="application/javascript" enabled="true" />
                 <add mimeType="application/xslt+xml" enabled="true" />
                 <add mimeType="*/*" enabled="false" />
             </dynamicTypes>
             <staticTypes>
                 <add mimeType="text/*" enabled="true" />
                 <add mimeType="message/*" enabled="true" />
                 <add mimeType="application/javascript" enabled="true" />
                 <add mimeType="*/*" enabled="false" />
             </staticTypes>
         </httpCompression>
			</system.webServer>
</configuration>