<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="MyDiaryConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=d:\Pavel\SimpleProjects\GitHubRepository\SimpleProjects\MyDiary\DbMigration\MyDiary.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>